h1= title

p
  | Codeshelver lets you clean up your !{linkTo('GitHub', 'http://github.com/')}
  | watchlist by storing repositories you would like to remember on your shelf.
  | You can tag any repository and search for it later on - until then it won't
  | spam your dashboard timeline.

h2 Here's how you get started…

ul#start
  li
    | Firefox users get !{linkTo('Greasemonkey', 'http://www.greasespot.net/')}
    | or !{linkTo('GreaseKit', 'http://8-p.info/greasekit/')}
    br
    | and install the !{linkTo('userscript', '/javascripts/codeshelver.user.js')}
  li
    | Chrome users can install the !{linkTo('userscript', '/javascripts/codeshelver.user.js')}
  li
    | Safari users can install the !{linkTo('Safari extension', '/codeshelver.safariextz')}
  li
    | Go to !{linkTo('GitHub', 'http://github.com/')} and shelve some repositories :)
    img(src='/images/info1.png', alt='Shelve button on the repository page')
    img(src='/images/info2.png', alt='Shelve button in your dashboard feed')

h2
  | Follow !{linkTo('Codeshelver on Twitter', 'http://twitter.com/codeshelver')}

ul#twitter_update_list
  script(type='text/javascript', src='https://twitter.com/javascripts/blogger.js')
  script(type='text/javascript', src='https://twitter.com/statuses/user_timeline/codeshelver.json?callback=twitterCallback2&amp;count=3')
